@font-face {
    font-family: 'Gafata';
    font-style: normal;
    font-weight: 400;
    src: local('Gafata'), local('Gafata-Regular'), url(assets/fonts/Gafata/Gafata-Regular.ttf);
}
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 400;
    src: local('Orbitron-Light'), local('Orbitron-Regular'), url(assets/fonts/Orbitron/Orbitron-Regular.ttf);
}
@font-face {
    font-family: 'Orbitron';
    font-style: normal;
    font-weight: 700;
    src: local('Orbitron-Bold'), url(assets/fonts/Orbitron/Orbitron-Bold.ttf);
}
@font-face {
    font-family: 'Ubuntu Mono';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Mono'), local('UbuntuMono-Regular'), url(assets/fonts/Ubuntu_Mono/UbuntuMono-Regular.ttf);
}

html,body{
    background-color: #161616;
    color: #ddd;
    font-family: 'Gafata', sans-serif;
}

.row {
    display: table-row;
    width: 950px;
}

#display {
    display: table-cell;
    vertical-align: top;
    width: 640px;
    height: 400px;
    padding: 15px;
    background-color: 303030;
}

/*font-family: 'Gafata', sans-serif;*/
/*font-family: 'Orbitron', sans-serif;*/
#controls {
    display: table-cell;
    vertical-align: top;
    width: 200px;
    padding-left: 10px;

}
#controls label {
    font-weight: bold;
    display: block;
    /*float: left;*/
    /*clear: left;*/
    margin-right: 15px;
}
#controls label:after { content: ": " }
#controls .input {
    /*float: left;*/
}
#controls output{
    display: block;
    clear: both;
    padding-left: 45px;;
}

.file_chooser {
    position: relative;
    overflow: hidden;
    padding: 5px;
}
.file-chooser-input {
    position: absolute;
    display: block !important;
    opacity: 0 !important;
    overflow: hidden !important;
    top: 0px;
    left: 0px;
}

.button {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid white;
    background-color: #555;
    padding: 5px;
    cursor: pointer;
}

#debug {
    height: 150px;
}
#debug fieldset {
    height: 100%;
}

#debug-decode {
    display: inline-block;
    vertical-align: top;
    font-family: 'Ubuntu Mono', sans-serif;
    font-size: 11px;
    width: 187px;
    height: 100%;
}

#debug-decode .debug-title {
    color: #fff;
    font-weight: bold;
    background-color: #202020;
}

/*Debug Decode Table*/
#debug-decode table:nth-of-type(1) {
    /*background-color: #333;*/
    font-size: 11px;
}

#debug-decode table:nth-of-type(2) {
    /*background-color: #333;*/
    font-size: 11px;
    width: 160px;
}
#debug-decode table:nth-of-type(2) th {
    color: #fff;
    font-weight: bold;
    background-color: #202020;
}
#debug-decode table:nth-of-type(2) td {
    text-align: right;
}
#debug-decode table:nth-of-type(2) tr>td:nth-child(1){ width: 78px; }
#debug-decode table:nth-of-type(2) tr>td:nth-child(2){ width: 48px; }
#debug-decode table:nth-of-type(2) tr>td:nth-child(3){ width: 10px; }
#debug-decode table:nth-of-type(2) tr>td:nth-child(4){ width: 10px; }


#debug-decode table:nth-of-type(3) {
    /*background-color: #333;*/
    font-size: 11px;
    width: 160px;
}
#debug-decode table:nth-of-type(3) th {
    color: #fff;
    font-weight: bold;
    background-color: #202020;
}
#debug-decode table:nth-of-type(3) td {
    text-align: right;
}
#debug-decode table:nth-of-type(3) tr>td:nth-child(1){ width: 78px; }
#debug-decode table:nth-of-type(3) tr>td:nth-child(2){ width: 32px; }
#debug-decode table:nth-of-type(3) tr>td:nth-child(3){ width: 18px; }
#debug-decode table:nth-of-type(3) tr>td:nth-child(4){ width: 18px; }


#debug-registers {
    display: inline-block;
    vertical-align: top;
    font-family: 'Ubuntu Mono', sans-serif;
    font-size: 11px;
    width: 253px;
    height: 100%;
}

#debug-registers .debug-title {
    color: #fff;
    font-weight: bold;
    background-color: #202020;
}

#debug-registers table:nth-of-type(1) {
    /*background-color: #333;*/
    font-size: 11px;
    width: 160px;
}

#debug-registers table:nth-of-type(2) {
    /*background-color: #333;*/
    font-size: 11px;
    width: 160px;
}

#debug-memory {
    display: inline-block;

    font-family: 'Ubuntu Mono', sans-serif;
    font-size: 11px;
    width: 253px;
    height: 100%;
}
#debug-memory-center {
    width: 40px;
}

#debug-memory table {
    font-size: 11px;
}


.debug-memory-container {

}
.debug-memory-row {

}
.debug-memory-row:hover {
    background-color: #555555;
}
.debug-memory-addr{
    font-weight: bold;
    background-color: #444;
    color: #FFF;
}
.debug-memory-value{

}

.debug-memory-IP {
    background-color: blue;
}




#offscreen {
    display: none;
}










.button.active {
    background-color: #fff;
}